:root {
  color-scheme: light dark;
  --light-text: black;
  --light-text-secondary: #333;
  --light-button: gray;
  --light-button-hover: darkgray;
  --light-button-active: lightgray;
  --light-button-disabled: #ccc;
  --light-bg: white;
  --light-bg-secondary: #f0f0f0;
  --light-outline: #ccc;

  --dark-text: white;
  --dark-text-secondary: #ccc;
  --dark-button: #ffffff;
  --dark-button-hover: #d2d2d2;
  --dark-button-active: #b3b3b3;
  --dark-button-disabled: #666;
  --dark-bg: #333;
  --dark-bg-secondary: #444;
  --dark-outline: #666;
}

body {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-text), var(--dark-text));
  font-family: Arial, sans-serif;
}

#search-input {
  width: 50%;
  height: 30px;
  padding: 10px;
  font-size: 18px;
}

#search-results {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid light-dark(var(--light-outline), var(--dark-outline));
  text-align: left;
}

th {
  background-color: light-dark(var(--light-bg-secondary), var(--dark-bg-secondary));
  color: light-dark(var(--light-text), var(--dark-text));
  text-transform: uppercase;
  font-weight: bold;
}

td {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
}

tr {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
}

table thead tr {
  border-bottom: 2px solid light-dark(var(--light-text), var(--dark-text));;
}

table tfoot tr {
  border-top: 2px solid light-dark(var(--light-text-secondary), var(--dark-text-secondary));
}

button {
  background-color: light-dark(var(--light-button), var(--dark-button));
  color: light-dark(var(--light-bg), var(--dark-bg));
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s ease;
  margin: 10px;
}

button:hover {
  background-color: light-dark(var(--light-button-hover), var(--dark-button-hover));
}

button:active {
  background-color: light-dark(var(--light-button-active), var(--dark-button-active));
}

button:disabled {
  background-color: light-dark(var(--light-button-disabled), var(--dark-button-disabled));
  color: #666;
  cursor: not-allowed;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counter {
  color: light-dark(var(--light-text-secondary), var(--dark-text-secondary));
}
#color-scheme-container {
  position: absolute;
  top: 15px;
  right: 15px;
}
